.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
.control-panel {background:#eee;}


@media all and (min-width: 768px) {
    .control-panel {text-align:center;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .board {text-align:center; -webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
#wrapper {
    margin: 10px auto;
    width: 572px;
    height: 570px;
    border: 1px solid grey;
}
.square{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    float: left;
    background-color: #B0E0E6;
}
.HIT {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    float: left;
    background-color: red;
    animation: pop 0.3s linear 1;
}
.MISS {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    float: left;
    background-color: white;
    animation: push 0.3s linear 1;
}

.ship {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    float: left;
    background-color: blue;
}
.non-square{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    float: left;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
}
select {
    margin: 20px;
    margin-left: 0px;
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    
  }
  .number{
    height: 36px;
    padding: 12px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin: 10;
  }

  @keyframes pop{
    50%  {transform: scale(1.2);}
  }
  @keyframes push{
    50%  {transform: scale(0.8);}
  }
  .button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 35%;
}
.button:hover {
   background-color: #00aacc;
   cursor: pointer;
  }

.button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.turns-left{
    display: block;
    color: red;
    font-size: 120px;
    width: 50%;
    margin: 0 auto;
}

.modalDialog {
    position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

div.centered 
{
    text-align: center;
    margin:30px;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

tbody{
    font-family: Arial, Helvetica, sans-serif;
    color: teal; 
    font-style: normal;
    font-size: 16px;
    
}
